* {
    margin: 0;
    background-color: #f3f3f3;
}

.lastPressed, .operation {
    height: 20px;
    background-color: #f3f3f3;
}

.lastPressed, .operation, .numPad {
    width: auto;
}

.calculator {
    width: 50vw;
    margin:auto;
    
}

.numPad {
    display: flex;
    flex-flow: row wrap;
    gap: 0;

}


a, button {
    box-sizing: border-box;
    font-size: 16px;
    width: 25%;
    padding: 16px;
    border: solid 1px grey;
    background-color:#f3f3f3;
    margin: 0;
    border-radius: 5%;
}

a, .fa-github {
    background-color: aqua;
}

.dev-btn {
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    padding: 0px;
    border: 0px;
    background-color:#f3f3f3;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    background-color: aqua; 
}

.num-btn, .dec-btn {
    background-color: white;
}

.eq-btn, .fa-equals {
    background-color: rgb(29, 98, 161);
}


